<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        /* https://github.com/wkhtmltopdf/wkhtmltopdf/issues/1770#issuecomment-73530576 */
        thead { display: table-header-group }
        tfoot { display: table-row-group }
        tr { page-break-inside: avoid }

        body {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        table td, table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #004595;
            color: white;
        }

        .right {
            float:right;
        }

        .left {
            float:left;
        }
    </style>
</head>

<body>

<h3>
    <span class="left">Relatório de Atividades #{{ relatorio.id }}</span>
    <span class="right">Gerado em {{ 'now'|date('d/m/Y H:i:s') }}</span>
</h3>

<br>

<h4>
    <span class="left">Docente: {{ relatorio.professor.nome }}</span>
    <br>
    <span class="left">SIAPE {{ relatorio.professor.siape }}</span>
</h4>

<br>

<table>
    <thead>
    <tr>
        <th>Item</th>
        <th>Descrição</th>
        <th>Data Início</th>
        <th>Data Fim</th>
        <th>Ptos Item</th>
        <th>Unidade Ptos</th>
        <th>Qte</th>
        <th>Ptos</th>
        <th>Págs.</th>
    </tr>
    </thead>
    <tbody>
    {% for atividade in atividades %}
        <tr>
            <td>{{ atividade.tipo_atividade_id }}</td>
            <td>{{ atividade.titulo }}</td>
            <td>
                {% if atividade.data_inicio is not empty %}
                    {{ atividade.data_inicio|date('d/m/Y') }}
                {% endif %}
            </td>
            <td>
                {% if atividade.data_fim is not empty %}
                    {{ atividade.data_fim|date('d/m/Y') }}
                {% endif %}
            </td>
            <td>{{ atividade.tipo.qtd_ponto }}</td>
            <td>{{ atividade.tipo.unidade }}</td>
            {% if atividade.tipo.qtd_ponto is not empty and atividade.pontuacao_total matches '/^\\d+$/' and atividade.tipo.qtd_ponto matches '/^\\d+$/' %}
                <td>{{ atividade.pontuacao_total / atividade.tipo.qtd_ponto }}</td>
            {% else %}
                <td>?</td>
            {% endif %}
            <td>{{ atividade.pontuacao_total }}</td>
            <td><!-- Págs. --></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>